$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);
$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black : hsl(0, 0%, 0%); //(with 75% opacity for lightbox background)

@font-face {
    font-family: "KumbhSans";
    src: url("./fonts/KumbhSans-VariableFont_wght.ttf");
}

$font : "KumbhSans", sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    nav, main, footer {
        width: 900px;
        // min-width: 800px;
        // border: 1px solid black;
    }
    display: flex;
    // padding-top: 50px;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        border:none;
        border-bottom: 1px solid $Grayish-blue;
        // justify-content: space-between;
        padding-top: 20px;
        &>img {
            display: none;
        }
        .brand--name {
            margin-right: 50px;
            // align-self: center;
            color: $Very-dark-blue;
        }
        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding-top: 40px;
            a {
                text-decoration: none;
                color: $Dark-grayish-blue;
                padding: 0 10px;
                border-bottom: 2px solid transparent;
                padding-bottom: 40px;
                &:hover {
                    border-bottom: 2px solid $Orange;
                    li {
                        color: $Very-dark-blue;
                    }
                }
                li {
                    list-style: none;
                    font-size: 0.8rem;
                }
            }
        }
        .cart--container {
            display: flex;
            flex-direction: row;
            margin-left: auto;
            position: relative;
            & > p {

                position: absolute;
                height: fit-content;
                display: none;
                right: -7px;
                top: -3px;
                font-size: 0.6rem;
                background-color: $Orange;
                color: $White;
                padding: 0px 4px;
                border-radius: 3px;
            }
            &:hover {
                cursor: pointer;
                svg {
                    path {
                        fill: black !important;;
                    }
                }
            }
            .cart--preview {
                position: absolute;
                width: 275px;
                top: 40px;
                left: -115px;
                background: $White;
                box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                h3 {
                    font-size: 0.8rem;
                    padding: 15px;
                    font-weight: bold;
                }
                hr {
                    // margin-top: 10px;
                    border-color: rgba( $Light-grayish-blue , 0.25);
                }
                .items {
                    padding: 15px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    .item--image {
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                    }

                    .item--desc {
                        display: flex;
                        flex-direction:column ;
                        gap: 5px;
                        font-size: 0.7rem;
                        strong {
                            font-weight: 900;
                        }
                    }
                }
                .no--cart {
                    padding: 40px;
                    text-align: center;
                    font-size: 0.8rem;
                    color: $Dark-grayish-blue;
                    font-weight: bolder;
                }
                &>button {
                    width: -webkit-fill-available;
                    margin: 15px;
                    padding: 10px;
                    border-radius: 10px;
                    border: none;
                    background: $Orange;
                    color: white;
                }
            }
        }
        .profile {
            margin-left: 25px;
            img{
                height: 50px;
                border-radius: 50%;
                border: 2px solid transparent;
                &:hover {
                    border-color: $Orange;
                    cursor: pointer;
                }
            }
        }
    }
    main {
        margin-top: 20px;
        padding: 15px 40px;
        padding-bottom: 5px;
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        .preview {
            grid-column:1/2;
            display: grid;
            grid-template-columns: repeat(4, 90px);
            grid-template-rows: repeat(5, 90px);
            .preview--container {
                grid-column: 1/-1;
                grid-row: 1/5;
                button {
                    display: none;
                }
                .onclick {
                    display: block;
                }
                .noOnclick {
                    display: none;
                }
            }
            & * {
                width: 100%;
                border-radius: 10px;
            }
            & > div {
                padding: 10px;
            }
            .thumbnail1, .thumbnail2, .thumbnail3, .thumbnail4 {
                border-radius: 12px;
                div {
                    height: 70px;
                    border-radius: 12px;
                }
                div:hover {
                    img {
                        opacity: 0.5 !important;
                        border-radius: 10px;
                    }
                }
            }
            
        }
        .content {
            grid-column: 2/3;
            padding-top: 50px;
            .product--company {
                margin-top: 10px;
                color: $Orange;
                font-weight: 700;
                font-size: 0.8rem;
            }
            .product--name {
                margin: 20px 0;
                color: $Very-dark-blue;
            }
            .product--desc {
                margin: 20px 0;
                line-height: 1.5rem;
                color: $Dark-grayish-blue;
                font-size: 0.9rem;
            }
            .price {
                color: $Very-dark-blue;
            }
            .change, .price {
                display: inline-block;
            }
            .cost {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;
                flex-wrap: wrap;
            }
            .change {
                padding: 3px;
                color: $Orange;
                background-color: $Pale-orange;
                font-size: 0.7rem;
                font-weight: 700;
                border-radius: 3px;
            }
            .changed--price {
                text-decoration: line-through;
                font-size: 0.7rem;
                color: $Grayish-blue;
                width: 100%;
            }
            .controls {
                display: flex;
                flex-direction: row;
                margin-top: 25px;
                gap: 20px;
                .cart--control{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 25px;
                    padding: 10px 20px;
                    background: $Light-grayish-blue;
                    border-radius: 10px;
                    
                    button {
                        display: flex;
                        background: transparent;
                        border: none;
                        padding: 5px;
                        &:hover{
                            cursor: pointer;
                            svg{
                                opacity: 0.6;
                            }
                        }
                    }
                    p {
                        font-family: 'Kumbh Sans', sans-serif;
                        font-weight: bolder;
                        color: $Very-dark-blue;
                    }
                }
                .add--to--cart {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    border: none;
                    background-color: $Orange;
                    color: $White;
                    border-radius: 10px;
                    svg {
                        transform: scale(0.75);
                        path {
                            fill: white;
                        }
                    }
                    &:hover {
                        background-color: rgba($Orange, 0.7);
                    }
                }
            }
        }
    }
}


.attribution { 
    font-size: 11px; text-align: center; 
    a {
         color: hsl(228, 45%, 44%); 
    }
}
aside {
    .product--preview, .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .product--preview {
        display: flex;
        align-items: center;
        justify-content: center;
        .background {
            background-color: black;
            opacity: 0.75;
            z-index: 1;
        }
        .preview {
            z-index: 1;
            grid-column:1/2;
            display: grid;
            grid-template-columns: repeat(4, 100px);
            grid-template-rows: 20px 100px 100px 100px 100px 100px;
            .preview--container {
                grid-column: 1/-1;
                grid-row: 2/6;
                position: relative;
                button {
                    position: absolute;
                    top: 45%;
                    width: 35px;
                    height:35px;
                    border-radius: 50%;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        width: fit-content;
                        transform: scale(0.75);
                    }
                    &:hover {
                        cursor: pointer;
                        path {
                            stroke: $Orange !important;
                        }
                    }
                }
                .onclick {
                    display: none;
                }
                .noOnclick {
                    display: block;
                }
                .prev {
                    left:-7px;
                }
                .next {
                    right: -7px;
                }
            }
            & * {
                width: 100%;
            }
            & >div {
                padding: 10px;
                img {
                    border-radius: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .img--close {
                grid-column: 1/-1;
                width: auto;
                display: flex;
                padding: 0 10px;
                justify-self: right;
                &:hover {
                    svg {
                        cursor: pointer;
                        path{
                            fill: rgb(255, 198, 85) !important;
                        }
                    }
                }
            }

            .thumbnail1, .thumbnail2, .thumbnail3, .thumbnail4 {
                padding: 10px;
                div {
                    height: 80px;
                    border-radius: 12px;
                    background: white;
                }
                div:hover {
                    img {
                        opacity: 0.5 !important;
                    }
                }
            }
        }
    }
}

@media screen and (width<=375px) {
    body {
        padding-bottom: 20px;
        nav,main,footer {
        width: 100%;
        }
        nav {
            padding: 20px;
            position: relative;
            ul {
                display: none;
                padding-top: 0;
                padding: 20px;
                flex-direction:column;
                position:absolute;
                top:0;
                left:0;
                background-color:white;
                z-index:3;
                height:100vh;
                width:65vw;
                .menu--close {
                    margin-bottom: 20px;
                }
                a {
                    padding: 0;
                    color:black;
                    font-weight:800;
                    padding-bottom:0
                }
            }
            .profile {
                img {
                    height: 25px;
                }
            }
            .cart--container {
                position: initial;
                svg {
                    transform: scale(0.75);
                }
                .cart--preview {
                    z-index: 2;
                    width: 90%;
                    top: 90%;
                    left: 5%;
                    .items {
                        .item--desc {
                            margin-right: auto;
                        }
                    }
                }
                .cart--list{
                    position: relative;
                    right: 10px;
                }
            }
            .menu--icon {
                display: block;
                margin-right: 20px;
            }
            .cover {
                display: none;
                position:absolute;
                top:0;
                left:0;
                width:100vw;
                height:100vh;
                z-index:2;
                background-color:black;
                opacity:0.6
            }
            
        }
        main {
            margin: 0;
            padding: 0;
            gap: 0;
            display: block;
            .preview {
                grid-template-columns: none;
                grid-template-rows: none;
                grid-row: 1/2;
                .preview--container {
                    button {
                        position: absolute;
                        top: 45%;
                        width: 35px;
                        height:35px;
                        border-radius: 50%;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg{
                            width: fit-content;
                            transform: scale(0.75);
                        }
                        &:hover {
                            cursor: pointer;
                            path {
                                stroke: $Orange !important;
                            }
                        }
                    }
                    .prev {
                        left:5%;
                    }
                    .next {
                        right: 5%;
                    }
                    .onclick {
                        display: none;
                    }
                    .noOnclick {
                        display: block;
                    }
                }
                .prev {
                    display: none;
                }
                div {
                    padding: 0;
                    img {
                        border-radius: 0;
                    }
                }
            }
            .content {
                grid-column: none;
                grid-row: 2/3;
                padding-top: 0;
                padding: 20px;
                .change {
                    font-size: 0.8rem;
                }
                .changed--price {
                    width: auto;
                    margin-left: auto;
                    font-size: 0.8rem;
                }
                .product--desc{
                    font-size: 1rem;
                }
                .controls {
                    flex-direction: column;
                    .cart--control {
                        justify-content: space-around;
                    }
                    .add--to--cart {
                        padding: 10px;
                    }
                }
            }
        }
    }
}